/* General styling for both pages */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.landing-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.gift-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.gift-box:hover {
  transform: scale(1.05);
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

h1 {
  font-size: 3rem;
  color: #333;
}
