@font-face {
  font-family: 'Mister Grape';
  src: url('./fonts/Mister Grape - Personal Use.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Mister Grape', sans-serif; /* Apply it globally or to specific elements */
}

